<div class="container">
  <div class="image-container">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/8/8f/Example_image.svg"
      alt="Image"
    />
  </div>
  <div class="button-option-container">
    <select class="option-element">
      <option value="Option 1">Option 1</option>
      <option value="Option 2">Option 2</option>
      <option value="Option 3">Option 3</option>
    </select>
    <div class="button-container">
      <button class="button">Button 1</button>
      <button class="button">Button 2</button>
    </div>
  </div>
</div>
